In [1]:
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
import math
import pandas as pd

In [7]:
#Question1

def load(x):
  ab = pd.read_csv(x)
  return ab

df = load('/content/Real estate.csv')
#print(df.head())
df.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [8]:
df.drop(['No'],axis='columns', inplace=True)
df.drop(['X1 transaction date'], axis='columns' ,inplace=True)

In [9]:
#Question2

df.shape

(414, 6)

In [11]:
#Question3

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 6 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   X2 house age                            414 non-null    float64
 1   X3 distance to the nearest MRT station  414 non-null    float64
 2   X4 number of convenience stores         414 non-null    int64
 3   X5 latitude                             414 non-null    float64
 4   X6 longitude                            414 non-null    float64
 5   Y house price of unit area              414 non-null    float64
dtypes: float64(5), int64(1)
memory usage: 19.5 KB

In [17]:
# Question4

df.isnull().sum()

X2 house age                              0
X3 distance to the nearest MRT station    0
X4 number of convenience stores           0
X5 latitude                               0
X6 longitude                              0
Y house price of unit area                0
dtype: int64

In [24]:
#Question5

df.describe()

,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
count,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000
mean,17.712560,1083.885689,4.094203,24.969030,121.533361,37.980193
std,11.392485,1262.109595,2.945562,0.012410,0.015347,13.606488
min,0.000000,23.382840,0.000000,24.932070,121.473530,7.600000
25%,9.025000,289.324800,1.000000,24.963000,121.528085,27.700000
50%,16.100000,492.231300,4.000000,24.971100,121.538630,38.450000
75%,28.150000,1454.279000,6.000000,24.977455,121.543305,46.600000
max,43.800000,6488.021000,10.000000,25.014590,121.566270,117.500000

In [23]:
df_y = df[['Y house price of unit area']]
df_X = df.drop(['Y house price of unit area'],axis='columns')

In [27]:
df_y.head()

   Y house price of unit area
0                        37.9
1                        42.2
2                        47.3
3                        54.8
4                        43.1

In [28]:
df_X.head()

,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
0,32.0,84.87882,10,24.98298,121.54024
1,19.5,306.59470,9,24.98034,121.53951
2,13.3,561.98450,5,24.98746,121.54391
3,13.3,561.98450,5,24.98746,121.54391
4,5.0,390.56840,5,24.97937,121.54245

In [58]:
#Question 6

# Split the data into 80%training/20%testing sets
# IMPORTANT:for grading purpose,  please set the same seed random_state = 42

x_train, x_test, y_train, y_test = train_test_split(df_X,df_y,test_size=0.2,random_state=42)

from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [59]:
#Question 9


# Create linear regression object

def makeModel():

      from sklearn.linear_model import LinearRegression

      regressor = LinearRegression()

      regressor.fit(x_train, y_train)  


      y_pred = regressor.predict(x_test)

      from sklearn.metrics import mean_squared_error as mse

      mse1 = mse(y_test, y_pred)

      from sklearn.metrics import mean_squared_error as rmse

      rmse1 = rmse(y_test, y_pred)

      from sklearn.metrics import r2_score

      r2score = r2_score(y_test, y_pred)

      intercept = regressor.intercept_

      coefficients  = regressor.coef_

      return (coefficients, intercept, mse1, rmse1, r2score)

makeModel()

(array([[-3.06045213, -5.53623761,  3.25926406,  2.94298597, -0.35743672]]),
 array([38.39154079]),
 54.58094520086213,
 54.58094520086213,
 0.6746481382828176)